@page "/"
@using System.Text.Json
@using BlazorProj.ViewModels


@inject IHttpClientFactory ClientFactory
<PageTitle>Index</PageTitle>

<h1>@_homePageViewModel?.Properties.Header</h1>

@if(_homePageViewModel?.Properties?.Recipes == null)
{
    <p>Loading...</p>
}
else
{
    @foreach(var recipe in _homePageViewModel.Properties.Recipes)
    {
        <a href="@CalculateRecipeUrl(recipe)"><h2>@recipe.PropertiesViewModel.Title</h2></a>
        <img src="@CalculateImageUrl(recipe)" alt="@recipe.PropertiesViewModel.Images.First().Name" />
    } 
}


Welcome to your new app.


@code {

    private HomePageViewModel _homePageViewModel;

    private string CalculateImageUrl(RecipeViewModel recipe)
    {
        return Constants.BaseUrl + recipe.PropertiesViewModel.Images.First().Url;
    }

    private string CalculateRecipeUrl(RecipeViewModel recipeViewModel)
    {
        return recipeViewModel.RouteViewModel.StartItemViewModel.Path + recipeViewModel.RouteViewModel.Path;
    }
    
    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://localhost:44351/umbraco/delivery/api/v1/content/item/home-page?expand=all");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        using var responseStream = await response.Content.ReadAsStreamAsync();
        _homePageViewModel = await JsonSerializer.DeserializeAsync<HomePageViewModel>(responseStream);
    }

}